html {
  box-sizing: border-box;
  font-size: 62.5%;
}
  html, body {
    overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

// scroll animation
section {
  min-height: 100vh;
  display: grid;
  place-items: center;
  align-content: center;
  background: rgba(0, 0, 0, 0.5);
}

.hidden {
  opacity: 0;
  transition: all 1s;
  filter: blur(5px);
}

@media(prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

.show {
  opacity: 1;
  filter: blur(0);
}